@model MotorsUp_.Models.Persona

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar empleado</h1>

<h3>¿Estas seguro que quieres eliminar a @Html.DisplayFor(model => model.NombrePersona)?</h3>
<div>
    <h4>Persona</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoPersona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoPersona)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombrePersona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombrePersona)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DireccionPersona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DireccionPersona)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorreoPersona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorreoPersona)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonoPersona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefonoPersona)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoPersona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoPersona)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdPersona" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> 
        <a asp-action="Index">Atras</a>
    </form>
</div>
