@model IEnumerable<MotorsUp_.Models.Persona>

@{
    ViewData["Title"] = "Index";
}
<h1 class="row justify-content-center">Personas</h1>
    <p class="btn btn-primary">
        <a asp-action="Create" style="color:white; text-decoration: none;"><i class="bi bi-plus"></i> Añadir</a>
    </p>

<table class="table" id="tablePeople">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoPersona)
            </th>
            <th>
                Nombre
            </th>
            <th>
                Dirección
            </th>
            <th>
                Correo
            </th>
            <th>
                Telefono
            </th>
            <th>
                Estado
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoPersona)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombrePersona)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DireccionPersona)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CorreoPersona)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TelefonoPersona)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstadoPersona)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.IdPersona"><i class="bi bi-pencil-square"></i></a> 
                    <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.IdPersona"><i class="bi bi-sliders"></i></a> 
                 
                </td>
            </tr>
        }
    </tbody>
</table>