@model MotorsUp_.Models.VentaServicio

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>VentaServicio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaHora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaHora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoVenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoVenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MetodoPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MetodoPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorManoDeObra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorManoDeObra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorInsumos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorInsumos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCotizacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCotizacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdClienteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdClienteNavigation.IdCliente)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdVentaServicio" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
