@model IEnumerable<MotorsUp_.Models.Compra>

@{
    ViewData["Title"] = "Index";
}

<h1 class="row justify-content-center">Gestion de compras</h1>
<p class="btn btn-primary">
    <a asp-action="Create" style="color:white; text-decoration: none;"><i class="bi bi-plus"></i> Añadir</a>
</p>


<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Estado
            </th>
            <th>
                Descripcion
            </th>
            <th>
                Fecha
            </th>
            <th>
                Id proveedor
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EstadoCompra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescripcionCompra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaCompra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdProveedorNavigation.IdProveedor)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.IdCompra"><i class="bi bi-pencil-square"></i></a> 
                    <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.IdCompra"><i class="bi bi-sliders"></i></a> 
                    
                </td>
            </tr>
        }
    </tbody>
</table>       