@model IEnumerable<MotorsUp_.Models.Servicio>

@{
    ViewData["Title"] = "Index";
}

<h1 class="row justify-content-center">Servicios</h1>

<p class="btn btn-primary">
    <a asp-action="Create" style="color:white; text-decoration: none;"><i class="bi bi-plus"></i> Añadir</a>
</p>

<table class="table" id="tableServices">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreServicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCategoriaNavigation)
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreServicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCategoriaNavigation.IdCategoria)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.IdServicio"><i class="bi bi-pencil-square"></i></a> |
                    <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.IdServicio"><i class="bi bi-sliders"></i></a> |
                    
                </td>
            </tr>
        }
    </tbody>
</table>