@model MotorsUp_.Models.Producto

@{
    ViewData["Title"] = "Details";
}

<h1 class="row justify-content-center">Detalles de productos</h1>
<a asp-action="Index" style="text-decoration: none;"><i class="bi bi-arrow-left-square-fill"></i></a>

<div class="row justify-content-center" style="padding:10px">
    <table>
        <thead>
            <tr>
                <th scope="col">Id detalle compra</th>
                <th scope="col">Precio</th>
                <th scope="col">Cantidad </th>
                <th scope="col">Subtotal </th>
                <th scope="col">Id compra</th>
                <th scope="col">Id producto</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(model => model.IdProducto)</td>
                <td>@Html.DisplayFor(model => model.NombreProducto)</td>
                <td>@Html.DisplayFor(model => model.PrecioCompra)</td>
                <td>@Html.DisplayFor(model => model.PrecioVenta)</td>
                <td>@Html.DisplayFor(model => model.EstadoProducto)</td>
                <td>@Html.DisplayFor(model => model.SaldoExistencias)</td>
                <td>@Html.DisplayFor(model => model.StockMinimo)</td>
                <td>@Html.DisplayFor(model => model.StockMaximo)</td>
                <td>
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model?.IdProducto"><i class="bi bi-pencil-square"></i></a>

                </td>
            </tr>
        </tbody>
    </table>
</div>

