@model MotorsUp_.Models.Cliente

@{
    ViewData["Title"] = "Details";
}

<a asp-action="Index" style="text-decoration: none;"><i class="bi bi-arrow-left-square-fill"></i></a>

<h1 class="row justify-content-center">Detalles de Clientes</h1>

<div class="row justify-content-center" style="padding:10px">
    <table>
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Telefono</th>   
                <th scope="col">Correo</th>
                <th scope="col">Direccion</th>
                <th scope="col">Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(model => model.NombreCliente)</td>
                <td>@Html.DisplayFor(model => model.TelefonoCliente)</td>
                <td>@Html.DisplayFor(model => model.CorreoCliente)</td>
                <td>@Html.DisplayFor(model => model.DireccionCliente)</td>
                <td>@Html.DisplayFor(model => model.EstadoCliente)</td>
                <td>
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model?.IdCliente"><i class="bi bi-pencil-square"></i></a>
                </td>
            </tr>

        </tbody>

    </table>
    
</div>

