@model IEnumerable<MotorsUp_.Models.AgendamientoCita>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCotizacionNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstadoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPersonaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCotizacionNavigation.IdCotizacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstadoNavigation.IdEstado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPersonaNavigation.IdPersona)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAgendamiento">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdAgendamiento">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAgendamiento">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
