@model IEnumerable<MotorsUp_.Models.DetalleCompra>

@{
    ViewData["Title"] = "Index";
}

<h1 class="row justify-content-center">Gestion detalles de compras</h1>

    
<div class="d-flex justify-content-between">
    <p class="btn btn-primary">
        <a asp-action="Create" style="color: white; text-decoration: none;"><i class="bi bi-plus"></i> Añadir</a>
    </p>
    <div class="content_acciones_descarha">
    <a asp-controller="DetalleCompras" class="btn btn-danger" asp-action="GenerarReportePDF"><i class="bi bi-file-earmark-pdf-fill"></i></a>
    <a asp-controller="DetalleCompras" class="btn btn-success" asp-action="GenerarReporteExcelConGrafico"><i class="bi bi-file-earmark-excel-fill"></i></a>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subtotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCompraNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProductoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subtotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCompraNavigation.DescripcionCompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProductoNavigation.IdProducto)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.IdDetalleCompra"><i class="bi bi-pencil-square"></i></a> 
                <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.IdDetalleCompra"><i class="bi bi-sliders"></i></a> 
                
                 
            </td>
        </tr>
}
    </tbody>
</table>
